<a href="https://colab.research.google.com/github/BrunoLaprince/jogo-do-numero-secreto/blob/main/Atividade_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 1 — Selecionar colunas específicas

Atividade: Data Frames

Crie um DataFrame com as seguintes colunas: Nome, Idade, Cidade e Profissão.

Mostre na tela apenas as colunas “Nome” e “Profissão”

In [ ]:
import pandas as pd
import numpy as np

dados = {
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
    'idade': [22, 35, 28, 40],
    'cidade': ['Goiânia', 'Anápolis', 'Valparaíso', 'Luziânia'],
    'profissao': ['Engenheira', 'Professor', 'Designer', 'Médico']
}

df = pd.DataFrame(dados)

print(pd.DataFrame(dados))

      nome  idade      cidade   profissao
0      Ana     22     Goiânia  Engenheira
1    Bruno     35    Anápolis   Professor
2   Carlos     28  Valparaíso    Designer
3  Daniela     40    Luziânia      Médico

Exercício 2 — Selecionar linhas específicas

Utilize o mesmo DataFrame anterior e exiba apenas as duas primeiras linhas .

In [ ]:

print('\n', df[['nome', 'idade']])

       nome  idade
0      Ana     22
1    Bruno     35
2   Carlos     28
3  Daniela     40

Exercício 3 — Filtrar dados com condição

Filtre e mostre apenas os registros onde a idade é maior que 30.

In [ ]:
print('\n', df.loc[df['idade'] > 30])

       nome  idade    cidade  profissao
1    Bruno     35  Anápolis  Professor
3  Daniela     40  Luziânia     Médico

Exercício 4 — Adicionar nova coluna

Adicione uma nova coluna chamada “Ano de Nascimento”, calculando-a a partir do valor 2025 - Idade.

In [ ]:
df['Ano de Nascimento'] = 2025 - df['idade']
print(df)

      nome  idade      cidade   profissao  Ano de Nascimento
0      Ana     22     Goiânia  Engenheira               2003
1    Bruno     35    Anápolis   Professor               1990
2   Carlos     28  Valparaíso    Designer               1997
3  Daniela     40    Luziânia      Médico               1985

Exercício 5 — Ordenar e atualizar valores

Ordene o DataFrame por idade em ordem crescente.

Atualize o nome de “Bruno” para “Bruno Souza”.

In [ ]:
df = df.sort_values(by='idade')
df.loc[df['nome'] == 'Bruno', 'nome'] = 'Bruno Souza'
print(df)

          nome  idade      cidade   profissao  Ano de Nascimento        Bruno
0          Ana     22     Goiânia  Engenheira               2003  Bruno Souza
2       Carlos     28  Valparaíso    Designer               1997          NaN
1  Bruno Souza     35    Anápolis   Professor               1990  Bruno Souza
3      Daniela     40    Luziânia      Médico               1985          NaN

Exercício 6 — Ordenação

Atividade: Data Frames

Crie este código no Google Colab:

Resolava as questões abaixo:

1. Ordene por Nota (decrescente)

2.Desempate por Idade (crescente)

3.Reindexe o resultado

4.Exiba o DataFrame final

In [3]:
import pandas as pd

df = pd.DataFrame({
    'aluno': ['Paulo','Ana', 'Bruna','Carlos'],
    'nota': [7.5, 9.0, 8.0, 9.0],
    'idade': [21, 20, 22, 20]
})

print(df)

#Para ordenar os dados
print('\n', df.sort_values(by='nota', ascending=False))

#Para desempate por Idade (crescente)
df_ordenado = df.sort_values(by=['nota', 'idade'], ascending=[False, True])
print('\n', df.sort_values(by=['idade', 'nota'], ascending=[False, True]))

#Para reindexar o resultado
df_ordenado = df_ordenado.reset_index(drop=True)

#Exiba o DataFrame final
print('\n', df_ordenado)

    aluno  nota  idade
0   Paulo   7.5     21
1     Ana   9.0     20
2   Bruna   8.0     22
3  Carlos   9.0     20

     aluno  nota  idade
1     Ana   9.0     20
3  Carlos   9.0     20
2   Bruna   8.0     22
0   Paulo   7.5     21

     aluno  nota  idade
2   Bruna   8.0     22
0   Paulo   7.5     21
1     Ana   9.0     20
3  Carlos   9.0     20

     aluno  nota  idade
0     Ana   9.0     20
1  Carlos   9.0     20
2   Bruna   8.0     22
3   Paulo   7.5     21

Responda as pergunta:

Por que “Ana” aparece antes de “Carlos” no resultado, mesmo tendo a mesma
nota?

Resposta:

Se Ana aparece antes do Carlos, ela vai sempre se manter antes de acordo com o comando sort_values(), que tem a função de ordenar de forma crescente e ou decrescente de acordo com a sua utilização.