<a href="https://colab.research.google.com/github/BrunoLaprince/jogo-do-numero-secreto/blob/main/Exerc%C3%ADcios%20variados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividade: Laços de repetições FOR e WHILE

1. Contagem Simples: Crie um programa que exiba na tela os números de 1 a 10, um abaixo do outro, utilizando um laço while

In [33]:
for i in range (1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [34]:
for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Tabuada com For: Peça ao usuário um número inteiro e exiba a tabuada desse número (de 1 a 10), utilizando um for

In [38]:


# Y corresponde ao um número de 1 a 10
y = int(input("Digite um número: "))

# Multiplicador
for numero in range (1, 11):
    mult = y * numero
    print(y, "x", numero, "=", mult)

Digite um número: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

1 2 3 4 5 6 7 8 9 10

4.

In [18]:
for i in range (0, 51, 2):
    print("contador:", i)

contador: 0
contador: 2
contador: 4
contador: 6
contador: 8
contador: 10
contador: 12
contador: 14
contador: 16
contador: 18
contador: 20
contador: 22
contador: 24
contador: 26
contador: 28
contador: 30
contador: 32
contador: 34
contador: 36
contador: 38
contador: 40
contador: 42
contador: 44
contador: 46
contador: 48
contador: 50